    body{
        background-color: #f3eaf1;
    border:solid #5f1f34;
    margin: 10px;
    padding:20px;}
    h2{
        text-decoration: underline;
        color: #5f1f34; 
        text-transform: uppercase; 
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;}
    h3 {
        font-family: Arial, Helvetica, sans-serif;}
    nav {
        color: #1d002b;}
    p{
        font-size: large;
        font-family: Arial, Helvetica, sans-serif ;}
    table{
        font-size: large;
        font-family: Arial, Helvetica, sans-serif ;}
    ul{
        font-size: large;
        font-family: Arial, Helvetica, sans-serif ;}
    #videogamelist{
        color:#5f1f34;
        font-weight: bold;}
    #comment{
        font-style: italic;
    }
    #click{
        text-transform: uppercase;}
    .pink {
        color:#5f1f34;
        font-weight: bold;}
    .pinkbackground{
        background-color: #f5b3df; 
        text-align: center; 
        border: 5px outset #5f1f34; 
        width: 400px; height: min-content; 
        font-size: 20px;}   
    form{
            padding: 15px;
            background-color: #ceacc3;
            font-style: normal;
            font-family: Arial, Helvetica, sans-serif;
            border-style: dotted;
            font-weight: bold;
            width: 400px; height: 250px;}
        input[type=button]:hover{border:solid; 
            background-color: #ceacc3; 
            font-family: Arial, Helvetica, sans-serif;
            text-transform: uppercase;}
    #return:hover {
        background-color: #ceacc3;
        font-family: Arial, Helvetica, sans-serif;}
    #return {
        font-family: Arial, Helvetica, sans-serif;
        padding: 15px;}
    div.fixed {
        position:fixed;
        right: 40px;
        top: 10px;
    }

   